@using EntityLayer.Concrete
@model List<Experience>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-md-6">
    <div class="p-2">
        <button type="button" id="btngetlistall" class="btn btn-outline-primary">Get Data</button>
        <button type="button" id="btnadd" class="btn btn-outline-info">Save</button>
    </div>
</div>

<div class="p-2" id="listexperience">
    @*data will come here*@
</div>

<br />

<div class="col-md-12">
    <input type="text" class="form-control" id="inpname" placeholder="Title" />
    <br />
    <input type="text" class="form-control" id="inpdate" placeholder="Date" />
    <br />
    @*<input type="text" class="form-control" id="inpusername" placeholder="User Name" />
        <br />
        <input type="text" class="form-control" id="inpmail" placeholder="Mail" />
        <br />*@
</div>

@section Scripts
{
    <script>
        $("#btngetlistall").click(function () {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Experience2/ListExperience/",

                success: function (funk) {
                    let values = jQuery.parseJSON(funk);
                    console.log(values);

                    let htmlst = "<table class=table table-bordered> <tr> <th> ID </th> <th> Title </th> <th> Date </th> </tr>";
                    $.each(values, (index, value) => {
                        htmlst += `<tr> <td>${value.ExperienceID}</td> <td>${value.Name}</td> <td>${value.Date}</td> </tr>`
                    });
                    htmlst += "</table>";
                    $("#listexperience").html(htmlst);
                }
            });
        });

        $("#btnadd").click(function () {
            let values = {
                Name: $("#inpname").val(),
                Date: $("#inpdate").val()
            };

            $.ajax({
                type: "Post",
                url: "/Experience2/AddExperience",
                data: values,
                success: function (func) {
                    let result = jQuery.parseJSON(func);
                    alert(result.Name + " Added successfully!")
                }
            });
        });
    </script>
}
<script src="~/lib/jquery/dist/jquery.js"></script>
