
@{
    ViewData["Title"] = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="card-header border-0">
    <h3 class="mb-0">Skill Add Page</h3>
</div>
<form class="form-group" method="post">
    <br /><br />
    @Html.Label("Experience Title")
    <input type="text" name="Title" class="form-control" />
    <br />
    <label>Status</label>
    <input type="text" name="Value" class="form-control" />
    <br />
    <button type="button" class="btn btn-primary">Save</button>
</form>